.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  /* Light background */
}

.auth-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  width: 100%;
  max-width: 500px;
}

.auth-image {
  padding: 30px 0;
  background-color: #f2f2f2;
  color: #4CAF50;
  /* Example color for icon */
  overflow: hidden;
  height: 250px;
}

.auth-image img {
  transform: translateX(-300px) translateY(-30px);
}

.auth-image .fas {
  font-size: 3rem;
}

.auth-link {
  color: #007bff;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}

.btn-gold {
  border-radius: 5px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: #adb5bd;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #dee2e6;
}

.divider:not(:empty)::before {
  margin-right: .5em;
}

.divider:not(:empty)::after {
  margin-left: .5em;
}
